* {
  text-align: center;
}
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  align: center;
}
.welcome {
  color: DarkGreen;
}
p {
  font-family: verdana;
  font-size: 20px;
}
h2.img {
  display: block;
  width: auto;
}
.GHG1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.GHG2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
